<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Manuel Jiménez Pérez-Yarza.
</p>

<img src="/images/Foto.jpg" />

<p>
    Más información en: <a href="https://github.com/manueljpy/quiz_2017">https://github.com/manueljpy/quiz_2017</a>
</p>

